navit/.gradle
navit/.idea
navit/build
navit/android/AndroidManifest.xml
navit/android/build
navit/android-about-page/build
navit/android-support-animated-vector-drawable/build
navit/android-support-annotations/build
navit/android-support-compat/build
navit/android-support-core-ui/build
navit/android-support-core-utils/build
navit/android-support-design/build
navit/android-support-fragment/build
navit/android-support-media-compat/build
navit/android-support-v4/build
navit/android-support-v7-appcompat/build
navit/android-support-v7-recyclerview/build
navit/android-support-vector-drawable/build
navit/android/android.iml
navit/android-about-page/android-about-page.iml
navit/android-support-animated-vector-drawable/android-support-animated-vector-drawable.iml
navit/android-support-annotations/android-support-annotations.iml
navit/android-support-compat/android-support-compat.iml
navit/android-support-core-ui/android-support-core-ui.iml
navit/android-support-core-utils/android-support-core-utils.iml
navit/android-support-design/android-support-design.iml
navit/android-support-fragment/android-support-fragment.iml
navit/android-support-media-compat/android-support-media-compat.iml
navit/android-support-v4/android-support-v4.iml
navit/android-support-v7-appcompat/android-support-v7-appcompat.iml
navit/android-support-v7-recyclerview/android-support-v7-recyclerview.iml
navit/android-support-vector-drawable/android-support-vector-drawable.iml
navit/navit.iml
navit/local.properties
navit/android/res/raw
navit/android/nativelibs/armeabi-v7a/libnavit.so
navit/android/nativelibs/armeabi/libnavit.so
navit/android/nativelibs/x86/libnavit.so
.externalNativeBuild
navit/cmake_plugin_settings.txt
navit/android/cmake_plugin_settings.txt
cmake_plugin_settings.txt
CMakeFiles/
CMakeCache.txt
navit/android/cmake_plugin_settings.txt